:root {
  --primary-100: #a5dfff;
  --primary-200: #8cd6ff;
  --primary-300: #71cbfc;
  --primary-400: #4ca9db;
  --primary-500: #2f8bbc;
  --primary-600: #15648e;
  --primary-700: #044263;
  --primary-800: #002438;
  --primary-900: #00060a;
  --secondary-100: #ffa0a0;
  --secondary-200: #ff8787;
  --secondary-300: #ff6d6d;
  --secondary-400: #ea4d4d;
  --secondary-500: #c92e2e;
  --secondary-600: #9e1414;
  --secondary-700: #700303;
  --secondary-800: #420000;
  --secondary-900: #160000;
  --tertiary-100: #f5ff89;
  --tertiary-200: #f3ff70;
  --tertiary-300: #f0ff56;
  --tertiary-400: #e0ef39;
  --tertiary-500: #bfce1c;
  --tertiary-600: #96a306;
  --tertiary-700: #6b7500;
  --tertiary-800: #414700;
  --tertiary-900: #191c00;
  --neutral-100: #ffffff;
  --neutral-200: #ffffff;
  --neutral-300: #f2f2f2;
  --neutral-400: #c6cdd1;
  --neutral-500: #97a9b2;
  --neutral-600: #637884;
  --neutral-700: #3a4e59;
  --neutral-800: #19262d;
  --neutral-900: #000000;
  --green-100: #bfffce;
  --green-200: #a5ffba;
  --green-300: #88f7a2;
  --green-400: #60d67b;
  --green-500: #40b75c;
  --green-600: #22893a;
  --green-700: #0e5e20;
  --green-800: #02330d;
  --green-900: #000501;
  --orange-100: #ffd7bf;
  --orange-200: #ffc7a5;
  --orange-300: #f7b288;
  --orange-400: #d68d60;
  --orange-500: #b76e40;
  --orange-600: #894a22;
  --orange-700: #5e2c0e;
  --orange-800: #331502;
  --orange-900: #050100;
  --red-100: #ffbfbf;
  --red-200: #ffa5a5;
  --red-300: #f78888;
  --red-400: #d66060;
  --red-500: #b74040;
  --red-600: #892222;
  --red-700: #5e0e0e;
  --red-800: #330202;
  --red-900: #050000;
  --blue-100: #bfe5ff;
  --blue-200: #a5dbff;
  --blue-300: #88caf7;
  --blue-400: #60a7d6;
  --blue-500: #4087b7;
  --blue-600: #226089;
  --blue-700: #0e3e5e;
  --blue-800: #021f33;
  --blue-900: #000305;
}
