:root {
  --primary-100: #ffffff;
  --primary-200: #fff9f9;
  --primary-300: #ffe0e0;
  --primary-400: #ffc6c6;
  --primary-500: #ffadad;
  --primary-600: #d17979;
  --primary-700: #a54f4f;
  --primary-800: #7a2e2e;
  --primary-900: #4c1515;
  --secondary-100: #ffffff;
  --secondary-200: #fffefc;
  --secondary-300: #fffae2;
  --secondary-400: #fff6c9;
  --secondary-500: #fff3af;
  --secondary-600: #d1c47b;
  --secondary-700: #a59951;
  --secondary-800: #7a6f2f;
  --secondary-900: #4c4416;
  --tertiary-100: #ffffff;
  --tertiary-200: #ffffff;
  --tertiary-300: #edffee;
  --tertiary-400: #d3ffd5;
  --tertiary-500: #baffbd;
  --tertiary-600: #83d187;
  --tertiary-700: #57a55b;
  --tertiary-800: #347a38;
  --tertiary-900: #194c1b;
  --neutral-100: #ffffff;
  --neutral-200: #ffffff;
  --neutral-300: #f2f2f2;
  --neutral-400: #d1c6c6;
  --neutral-500: #b29797;
  --neutral-600: #846363;
  --neutral-700: #593a3a;
  --neutral-800: #2d1919;
  --neutral-900: #000000;
  --green-100: #ffffff;
  --green-200: #ffffff;
  --green-300: #f9fffb;
  --green-400: #e0ffe7;
  --green-500: #c2f9cf;
  --green-600: #8acc99;
  --green-700: #5da06c;
  --green-800: #387546;
  --green-900: #1b4725;
  --orange-100: #ffffff;
  --orange-200: #ffffff;
  --orange-300: #fffbf9;
  --orange-400: #ffece0;
  --orange-500: #f9d7c2;
  --orange-600: #cca38a;
  --orange-700: #a0775d;
  --orange-800: #754f38;
  --orange-900: #472c1b;
  --red-100: #ffffff;
  --red-200: #ffffff;
  --red-300: #fff9f9;
  --red-400: #ffe0e0;
  --red-500: #f9c2c2;
  --red-600: #cc8a8a;
  --red-700: #a05d5d;
  --red-800: #753838;
  --red-900: #471b1b;
  --blue-100: #ffffff;
  --blue-200: #ffffff;
  --blue-300: #f9fcff;
  --blue-400: #e0f2ff;
  --blue-500: #c2e3f9;
  --blue-600: #8ab1cc;
  --blue-700: #5d85a0;
  --blue-800: #385c75;
  --blue-900: #1b3547;
}
