:root {
  --primary-100: #e5ceff;
  --primary-200: #d7b5ff;
  --primary-300: #c99bff;
  --primary-400: #b47cf4;
  --primary-500: #9257d6;
  --primary-600: #6a34a8;
  --primary-700: #481a7c;
  --primary-800: #2a0851;
  --primary-900: #100023;
  --secondary-100: #ffcef9;
  --secondary-200: #ffb5f6;
  --secondary-300: #ff9bf3;
  --secondary-400: #f47ce6;
  --secondary-500: #d657c7;
  --secondary-600: #a8349a;
  --secondary-700: #7c1a71;
  --secondary-800: #510849;
  --secondary-900: #23001f;
  --tertiary-100: #ceffe9;
  --tertiary-200: #b5ffdd;
  --tertiary-300: #9bffd2;
  --tertiary-400: #7cf4be;
  --tertiary-500: #57d69d;
  --tertiary-600: #34a874;
  --tertiary-700: #1a7c50;
  --tertiary-800: #085130;
  --tertiary-900: #002313;
  --neutral-100: #ffffff;
  --neutral-200: #ffffff;
  --neutral-300: #f2f2f2;
  --neutral-400: #cbc6d1;
  --neutral-500: #a497b2;
  --neutral-600: #726384;
  --neutral-700: #483a59;
  --neutral-800: #22192d;
  --neutral-900: #000000;
  --green-100: #e8ffed;
  --green-200: #ceffd9;
  --green-300: #b5ffc6;
  --green-400: #92efa8;
  --green-500: #6ad182;
  --green-600: #42a359;
  --green-700: #257738;
  --green-800: #104c1e;
  --green-900: #031e09;
  --orange-100: #fff0e8;
  --orange-200: #ffe1ce;
  --orange-300: #ffd1b5;
  --orange-400: #efb692;
  --orange-500: #d1916a;
  --orange-600: #a36742;
  --orange-700: #774425;
  --orange-800: #4c2710;
  --orange-900: #1e0d03;
  --red-100: #ffe8e8;
  --red-200: #ffcece;
  --red-300: #ffb5b5;
  --red-400: #ef9292;
  --red-500: #d16a6a;
  --red-600: #a34242;
  --red-700: #772525;
  --red-800: #4c1010;
  --red-900: #1e0303;
  --blue-100: #e8f5ff;
  --blue-200: #ceebff;
  --blue-300: #b5e1ff;
  --blue-400: #92caef;
  --blue-500: #6aa8d1;
  --blue-600: #427ca3;
  --blue-700: #255677;
  --blue-800: #10344c;
  --blue-900: #03131e;
}
