/* EXAMPLE USAGE */
/* .header { */
/* background-color: var(--primary-500); */
/* color: var(--neutral-900); */
/* } */

/* Button Styles */
/* .button { */
/*   background-color: var(--secondary-500); */
/*   color: var(--neutral-100); */
/* } */

/* Color Variables */
:root {
  --primary-100: #e7ffbc;
  --primary-200: #deffa3;
  --primary-300: #d5ff89;
  --primary-400: #cdff70;
  --primary-500: #b2e84e;
  --primary-600: #89bb2c;
  --primary-700: #638e13;
  --primary-800: #416203;
  --primary-900: #223500;
  --neutral-100: #ffffff;
  --neutral-200: #ffffff;
  --neutral-300: #f2f2f2;
  --neutral-400: #ced2c7;
  --neutral-500: #a9b297;
  --neutral-600: #7a8564;
  --neutral-700: #4e593a;
  --neutral-800: #252c18;
  --neutral-900: #000000;
  --green-100: #d6ffdf;
  --green-200: #bcffcc;
  --green-300: #a3ffb8;
  --green-400: #89ffa5;
  --green-500: #63e281;
  --green-600: #3db65a;
  --green-700: #218939;
  --green-800: #0d5d1f;
  --green-900: #01300c;
  --orange-100: #ffe5d6;
  --orange-200: #ffd6bc;
  --orange-300: #ffc6a3;
  --orange-400: #ffb689;
  --orange-500: #e29463;
  --orange-600: #b66c3d;
  --orange-700: #894921;
  --orange-800: #5d2b0d;
  --orange-900: #301301;
  --red-100: #ffd6d6;
  --red-200: #ffbcbc;
  --red-300: #ffa3a3;
  --red-400: #ff8989;
  --red-500: #e26363;
  --red-600: #b63d3d;
  --red-700: #892121;
  --red-800: #5d0d0d;
  --red-900: #300101;
  --blue-100: #d6eeff;
  --blue-200: #bce4ff;
  --blue-300: #a3daff;
  --blue-400: #89d0ff;
  --blue-500: #63b0e2;
  --blue-600: #3d86b6;
  --blue-700: #215f89;
  --blue-800: #0d3d5d;
  --blue-900: #011d30;
}
