{% extends 'base.html' %}

{% block title %}Manage Palette Folders{% endblock %}

{% block content %}
<h2 class="top-padding">Palette Folders</h2>
<div class="accordion accordion-flush" id="accordionFiles">
  {% for palette in palettes %}
    <!-- Accordion Item -->
    <div class="accordion-item">
        <h2 class="accordion-header " id="heading{{ palette.name }}">
            <div class="d-flex justify-content-between align-items-center">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ palette.name }}" aria-expanded="false" aria-controls="collapse{{ palette.name }}">
                    <i class="bi-folder-fill"></i> {{ palette.name }}
                </button>
                <a class="btn btn-sm btn-danger delete-btn" href="{{ url_for('main.delete', palette_name=palette.name) }}">
                    <i class="fa fa-trash-alt" aria-hidden="true"></i>
                </a>
            </div>
        </h2>
        <div id="collapse{{ palette.name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ palette.name }}" data-bs-parent="#accordionFiles">
            <div class="accordion-body">
                {% for file in palette.files %}
                <!-- File Card -->
                <div class="card">
                    {% if file.extension == 'css' %}
                    <div class="icon-container file-css">
                        <i class="fab fa-css3 icon"></i>
                    </div>
                    {% elif file.extension == 'png' %}
                    <div class="icon-container file-png">
                        <i class="fas fa-file-image icon"></i>
                    </div>
                    {% elif file.extension == 'xlsx' %}
                    <div class="icon-container file-excel">
                        <i class="fas fa-file-excel icon"></i>
                    </div>
                    {% elif file.extension == 'dart' %}
                    <div class="icon-container file-dart">
                        <i class="fas fa-code icon"></i>
                    </div>
                    {% elif file.extension == 'json' %}
                    <div class="icon-container file-json">
                        <i class="fab fa-codepen icon"></i>
                    </div>
                    <!-- add file extension conditions -->
                    {% else %}
                    <div class="icon-container">
                        <i class="fas fa-file-alt icon"></i>
                    </div>
                    {% endif %}

                    <div class="container">
                        <h4><b>{{ file.extension|upper }}</b></h4>
                        <p class="small">{{ file.name|truncate(15) }}{{ file.extension }}</p>
                        <div><a href="{{ url_for('main.download_file', palette_name=palette.name, filename=file.name) }}" class="btn btn-sm download-btn"><i class="fas fa-download"></i> Download</a></div>
                    </div>
                </div>
                <!-- File Card End -->
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
