{% extends 'base.html' %}

{% block title %}Manage Palette Folders{% endblock %}

{% block content %}
<h2 class="top-padding">File Manager</h2>
<div class="accordion accordion-flush" id="accordionFiles">
  {% for palette in palettes %}
    <!-- Accordion Item -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ palette.name }}">
            <div class="d-flex justify-content-between align-items-center">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ palette.name }}" aria-expanded="false" aria-controls="collapse{{ palette.name }}">
                    <i class="bi-folder-fill"></i> {{ palette.name }}
                </button>
                <button class="btn btn-sm btn-danger delete-btn" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="fa fa-trash-alt" aria-hidden="true"></i>
                </button>
            </div>
        </h2>
        <div id="collapse{{ palette.name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ palette.name }}" data-bs-parent="#accordionFiles">
            <div class="accordion-body">
                {% for file in palette.files %}
                <!-- File Card -->
                <div class="card">
                    <div class="icon-container file-png">
                        <i class="fas fa-file-excel icon"></i>
                    </div>
                    <div class="container">
                        <h4><b>Excel</b></h4>
                        <p class="small">{{ file|truncate(15) }}xslx</p>
                        <div>download / delete</div>
                    </div>
                </div>
                <!-- File Card End -->
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}